<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Zaloguj się</title>
        <link rel="icon" type="image/png" href="{{asset('images/chat.png')}}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <script src="https://kit.fontawesome.com/15901ecbea.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('auth') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('authjs') }}
        {% endblock %}
    </head>
<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <div class="welcome">
                    <span class="icon"><img src="{{asset('images/chat.png')}}"></span>
                    <span class="title">Zaloguj się</span>
                </div>

                {% if error %}
                    <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="alert">
                        Jesteś zalogowany jako: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <form method="post">
                    <div class="input-field">
                        <input type="email" placeholder="Email" name="email" value="{{ last_username }}" autocomplete="email" class="form-control" required autofocus>
                        <i class="fa-solid fa-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Hasło" name="password" required>
                        <i class="fa-solid fa-lock icon"></i>
                        <i class="fa-solid fa-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck" name="_remember_me">
                            <label for="logCheck" class="text">Zapamiętaj mnie</label>
                        </div>
                                
                    </div>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}">

                    <div class="input-field button">
                        <input type="submit" value="Zaloguj">
                    </div>

                    
                </form>

                <div class="login-signup">
                    <span class="text">Nie posiadasz konta?
                        <a href="/register" class="text auth-link">Utwórz teraz!</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
